@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Product Categories - Create";

}

<h2 class="mt-4">Category Creation Form</h2>

<form asp-action="Save" method="post">
    <div class="form-group">

        @{ await Html.RenderPartialAsync("Forms/_CategoriesFormPartial"); }

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
