@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Categories";
}

@model List<Category>;

@{ await Html.RenderPartialAsync("_SuccessAlertPartial"); }

<a asp-action="Create" class="btn btn-primary mt-4 whiteAnchor">Add New</a>
<hr />
<h2>Categories List</h2>
<table class="table" id="categoriesTable">
    <thead>
        <tr>
            <th class="actionsCell">#</th>
            <th>Id</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    <i id="deleteButton" data-id="@category.Id" class="material-icons cursorPointer">delete</i>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="blackAnchor"><i class="material-icons">edit</i></a>
                </td>
                <td>@category.Id</td>
                <td>@category.Description</td>
            </tr>
        }
    </tbody>
</table>

@{
    await Html.RenderPartialAsync("_ConfirmationModalPartial");
}